

#result {
  text-align: left;
}

.result-info {
  color: black;
}

.result-image {
  width: 100%;
}

.subheading {
  font-family: "Montserrat", sans-serif;
}

.rows {
  margin-left: 5px;
}

.columns {
  float: left;
  width: 50%;
}

.rows:after {
  content: "";
  display: table;
  clear: both;
}
