body {
  background-image: url('../images/background-desktop.jpg');
  background-size: cover;
}

@media (max-width: 1028px) {
  body {
    background-image: url('../images/background-mobile.jpg');
  }
}
